

.hero{
	border: 3px solid;
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	width:250px;
}

img{
	width:120px;
	height: 250px;
	object-fit:cover;
	padding:10px;
}

button{
	background:red;
	color:white;
	border:none;
	padding:10px;
	border-radius:5px;
}